
<ul class="view-menu">
    <li><a href="@Url.Action("VideoCube", "Effect", new { id="" })">Video cube</a></li>
    <li><a href="@Url.Action("VideoClipped", "Effect", new { id="" })">Video clipped</a></li>
    <li><a href="@Url.Action("VideoZenit", "Effect", new { id="" })" title="Зенит-чемпион 2020!">Zenit 2020</a></li>
</ul>