@{
    Layout = "_ViewLayout";

    ViewData["Title"] = "Camera Recognition";
}

@section head {
    <link rel="stylesheet" href="~/css/common/general.css" />
    <link rel="stylesheet" href="~/css/common/loading.css" />
    <link rel="stylesheet" href="~/css/media/media.css" />

    <!-- Load TensorFlow.js -->
    <script src="https://cdn.jsdelivr.net/npm/@@tensorflow/tfjs@1.2"></script>
    <!-- Load BodyPix -->
    <script src="https://cdn.jsdelivr.net/npm/@@tensorflow-models/body-pix@2.0"></script>

}

@section scripts {
    <script src="https://unpkg.com/feather-icons"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/5.2.4/pixi.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>

    <script src="~/js/utils/util-dom.js"></script>
    <script src="~/js/utils/util-image.js"></script>
    <script src="~/js/utils/util-checker.js"></script>

    <script src="~/js/media/camcorder.js"></script>
    <script src="~/js/media/camera-background.js"></script>

}


<div class="container">

    <section id="camera-party">

        <div id="player" class="video-player">

            <div class="startup-text">&#9733; it shows camera here &#9733;</div>

            <canvas id="cadre" class="d-none"></canvas>
            <canvas id="capture"></canvas>
            <video id="video" autoplay class="d-none"></video>
            <canvas id="overlay"></canvas>

            <div class="controls">
                <div class="options">
                    <div class="video-options">
                        <select name="" id="" class="custom-select">
                            <option value="">Select camera</option>
                        </select>
                    </div>
                    <div class="video-ratio">
                        <select name="" id="" class="custom-select">
                            <option value="">Select ratio</option>
                        </select>
                    </div>
                </div>
                <div class="buttons">
                    <button class="btn btn-danger play" title="Play"><i data-feather="play-circle"></i></button>
                    <button class="btn btn-info pause d-none" title="Pause"><i data-feather="pause"></i></button>
                    <button class="btn btn-outline-success d-none" title="Screenshot"><i data-feather="image"></i></button>
                    <button class="btn btn-outline-warning d-none" title="Recognize"><i data-feather="activity"></i></button>
                </div>
            </div>

        </div>

        <div class="video-detect d-none">
            <canvas id="source-canvas"></canvas>
        </div>

    </section>

    <section id="templates">

        <template id="loading-indicator">
            <partial name="common/_loading" />
        </template>

        <template id="not-supported">
            <partial name="forms/_NotSupported" />
        </template>

    </section>

</div>


<script type="text/javascript">

    document.addEventListener("DOMContentLoaded", async () => {

        feather.replace();

        const checker = new app.util.check.Checker();
        if (!checker.showNotSupportedObjects(["ImageCapture"], "#templates #not-supported", "section.main")) return;

        var camera = new app.media.CameraBackground(document.getElementById("camera-party"),
            {
                debugLog: true,
                detectorWorkerScriptUrl: "@(Url.Content("~/js/media/detector-bodypix.js") + "?_=" + DateTime.Now.Millisecond))",
                displacementImage: "@Url.Content("~/img/liquids/dmaps/512x512/clouds.jpg")",
            });

    });

</script>