@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

body {
    margin: 0;
    padding: 0;
}

/*header {
    display:none;
}*/

section.main {
    box-sizing: border-box;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-content: center;
    font-family: 'Poppins', sans-serif;
    background-color: aliceblue;
}

div.effect {
    --team-font: 7em;
    --city-font: 3em;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;
}

div.shade {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #009688, #ff68f2);
    pointer-events: none;
    mix-blend-mode: color;
}

/*div.effect::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #009688, #ff68f2);
    pointer-events: none;
    mix-blend-mode: color;
}*/


div.effect > video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
     --ripple-color: yellow;
    --ripple-end: lightgoldenrodyellow;
    --ripple-color2: darkgoldenrod;
    --ripple-end2: goldenrod;
 
}

svg.banner text {
    font-family: 'Concert One', cursive;
    font-weight: 900;
    font-size: 1.2rem;
    fill: gold;
    letter-spacing: 1px;
    text-shadow: 0 0 30px var(--ripple-color), 0 0 50px var(--ripple-end);
    /*  animation: bannerglowing 10s linear infinite;
    animation-direction:alternate;*/
}

@keyframes bannerglowing {
    0%, 100% {
        text-shadow: 0 0 30px var(--ripple-color), 0 0 50px var(--ripple-end);
    }

    50% {
        text-shadow: 0 0 30px var(--ripple-color2), 0 0 50px var(--ripple-end2);
    }

}

svg.banner.banner-view-animation {
    animation: 
        anim-banner-show ease-out 500ms 0ms, 
        anim-banner-hold linear 10s 500ms, 
        anim-banner-hide ease-out 1.5s 10500ms;
}

@keyframes anim-banner-show {
    to {
        opacity: 1;
    }
}

@keyframes anim-banner-hold {
    from {
        opacity: 1;
    }

    to {
        opacity: 1;
    }
}

@keyframes anim-banner-hide {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}



div.effect .audio-box {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 15px;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    flex-direction: row;
}

div.effect .audio-box > div {
    text-align: right;
    z-index: 222;
}

div.effect .audio-box button {
    width: 48px;
    height: 48px;
    border: 0;
    color: #ccc;
    background: none;
    outline: none;
}

div.effect .audio-box button.off {
    background-repeat: no-repeat;
    background-image: url(/img/volume.svg);
    background-size: cover;
}

div.effect .audio-box button.on {
    background-repeat: no-repeat;
    background-image: url(/img/volume-2.svg);
    background-size: cover;
}

div.effect .audio-box audio {
    display: none;
}



@media (max-width: 1200px) {
 
}

@media (max-width: 992px) {

    div.effect .audio-box {
        padding: 10px;
    }

    div.effect .audio-box button {
        width: 32px;
        height: 32px;
    }
}

@media (max-width: 768px) {

    div.effect .audio-box {
        padding: 5px;
    }

    div.effect .audio-box button {
        width: 24px;
        height: 24px;
    }
}

@media (max-width: 576px) {

    div.effect .audio-box {
        padding: 2px;
    }

    div.effect .audio-box button {
        width: 16px;
        height: 16px;
    }
}

