
section#camera-party {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-content:center;
}

.video-player {
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    position: relative;
    overflow:hidden;
}


.video-player #cupture,
.video-player #video,
.video-player #overlay
{
    position:absolute;
    left: 0;
    top: 0;
    width:100%;
    height:100%;
    background-color:transparent;
}

.video-player .controls {
    position:absolute;
    left: 0;
    right: 0;
    top: 0;
    display:flex;
    justify-content:space-between;
    align-content:center;
    padding: 5px 10px;
    background-color: rgba(52, 58, 64, 0.3);
    transform: translateY(-100%);
}

.video-player:hover .controls:hover {
    transform: translateY(0%);
    opacity: 1;
    animation-play-state:paused;
}

.video-player .controls.controls-view-animation {
    animation: anim-controls-show ease-out 200ms 0ms, anim-controls-hold linear 5s 200ms, anim-controls-hide ease-out 1.5s 5200ms;
}

@keyframes anim-controls-show {
    to {
        transform: translateY(0%);
    }
}

@keyframes anim-controls-hold {
    from {
        transform: translateY(0%);
    }

    to {
        transform: translateY(0%);
    }
}

@keyframes anim-controls-hide {
    from {
        transform: translateY(0%);
        opacity: 1;
    }

    to {
        transform: translateY(0%);
        opacity: 0;
    }
}


.video-player .controls .options {
    display:flex;
    flex-direction:row;
    justify-content:left;
    align-content:center;
}

.controls .options > * {
    margin:0 2pt;
}

.video-player .controls .buttons {
    display: flex;
}

.buttons > button {
    width: 45px;
    height: 45px;
    text-align: center;
    border-radius: 100%;
    margin: 0 6px;
    background: transparent;
}

.buttons > button:focus {
    box-shadow: none;
}

.buttons > button:hover svg {
    color: white !important;
}

@media (min-width: 300px) and (max-width: 400px) {
    .controls .buttons {
        flex-direction: column;
    }

    .controls .buttons button {
        margin: 5px 0 !important;
    }
}

.buttons > button > svg {
    height: 20px;
    width: 18px;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}

.buttons > button:nth-child(1) {
    border: 2px solid #D2002E;
}
.buttons >  button:nth-child(1) svg {
    color: #D2002E;
}

.buttons > button:nth-child(2) {
    border: 2px solid #008496;
}
.buttons > button:nth-child(2) svg {
    color: #008496;
}


.detecting-circle {
    --ripple-color: rgba(255, 193, 7, 0.3);
    --ripple-end: rgba(255, 193, 7, 0);
    animation: ripple 0.7s linear infinite;
}

@keyframes ripple {
    0% {
        box-shadow: 
            0 0 0 0   var(--ripple-color), 
            0 0 0 1pt var(--ripple-color), 
            0 0 0 5pt var(--ripple-color),
            0 0 0 9pt var(--ripple-color);
    }

    100% {
        box-shadow: 
            0 0 0 1pt var(--ripple-color), 
            0 0 0 5pt var(--ripple-color), 
            0 0 0 9pt var(--ripple-color),
            0 0 0 12pt var(--ripple-end);
    }
}

.wait-cursor {
    cursor:wait;
}

/* Screenhot list styles
-------------------------------------------------- */

.video-screenshot {
    margin: 20px 0;
}

ul.screenshot-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    overflow-x: auto;
    padding: 10px 0;

}

ul.screenshot-list::-webkit-scrollbar {
    height: 8px; /* height of horizontal scrollbar ← You're missing this */
    width: 8px; /* width of vertical scrollbar */
    border: 1px solid #d5d5d5;
}

ul.screenshot-list::-webkit-scrollbar-thumb:horizontal {
    background-color: lightgray;
    border-radius: 10px;
}
 

ul.screenshot-list li {
    overflow: hidden;
    min-width: 160px;
    width: 160px;
    height: 120px;
    position:relative;
    margin: 0 5pt;
}

ul.screenshot-list li:first-child {
    margin-left:0;
}

ul.screenshot-list li:last-child {
    margin-right:0;
}

ul.screenshot-list li img {
    position:absolute;
    left: 0;
    top:0;
    width:100%;
    height:100%;
    object-fit:cover;
    transition: transform ease-out 300ms;
}

ul.screenshot-list li:hover img {
    transform: scale(1.2);
}

ul.screenshot-list li .screenshot-ctrl {
    position:absolute;
    left:0;
    right:0;
    top:0;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    opacity: 0;
    transition: opacity ease-out 200ms;
}

ul.screenshot-list li:hover .screenshot-ctrl {
    opacity: 1;
}

ul.screenshot-list li .screenshot-info {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(48, 48, 48, 0.5);
    transform: translateY(100%);
    transition: transform ease-out 200ms;
}

ul.screenshot-list li:hover .screenshot-info {
    transform: translateY(0);
}

ul.screenshot-list li .screenshot-ctrl button {
    position:relative;
    width: 22px;
    height:22px;
    margin: 2px;
    border: none;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    outline:none;
}

ul.screenshot-list li .screenshot-ctrl button:hover {
    background-color: #efefef;
}

ul.screenshot-list li .screenshot-ctrl button:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 3px 3px;
}

.screenshot-ctrl button.screenshot-download:after {
    content: "";
    background-image: url(/img/feather-download.svg);
    background-repeat:no-repeat;
    background-size: cover;
}

.screenshot-ctrl button.screenshot-remove:after {
    content: "";
    background-image: url(/img/feather-x.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

ul.screenshot-list li .screenshot-info {
    color: #efefef;
    font-size: x-small;
    font-weight: bold;
    padding: 2pt 3pt;
}


