
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
}

section.main {
    box-sizing: border-box;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-content: center;
    font-family: 'Poppins', sans-serif;
    background-color: aliceblue;
}

div.effect {
    --team-font: 7em;
    --city-font: 3em;
    
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;
    background-color: lightyellow;
}

div.effect::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #009688, #ff68f2);
    pointer-events:none;
    mix-blend-mode: color;
}

div.effect > video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

div.effect .text-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 45%;
    height: 100%;
    padding:50px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction:column;
    background-color: white;
    color: black;
    font-size:20px;
    line-height:1.2em;
    font-weight: 800;
    mix-blend-mode: screen;
}

    div.effect .text-box .name {
        font-size: calc(var(--team-font) * 0.85);
        white-space: nowrap;
        line-height: 1.5em;
    }

    div.effect .text-box .city {
        font-size: calc(var(--city-font) * 0.85);
        white-space: nowrap;
        line-height: 0.5em;
    }

    div.effect .text-box img.logo {
         object-fit:contain;
         margin-bottom: 2em;
     }


    div.effect .audio-box {
        position: absolute;
        top: 0;
        left: 0;
        width: 45%;
        padding: 5px;
        padding-left: 10px;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        transform: translateY(100%);
    }

    div.effect .audio-box > div {
        text-align:right;
    }

    div.effect .audio-box button {
        width: 48px;
        height: 48px;
        border: 0;
        color: #ccc;
        background: none;
        outline:none;
    }

    div.effect .audio-box button.off {
        background-repeat: no-repeat;
        background-image: url(/img/volume.svg);
        background-size: cover;
    }

    div.effect .audio-box button.on {
        background-repeat: no-repeat;
        background-image: url(/img/volume-2.svg);
        background-size: cover;
    }

    div.effect .audio-box audio {
        display:none;
    }



@media (max-width: 1200px) {
    div .effect {
        --team-font: 5.5em;
        --city-font: 2em;
    }
}

@media (max-width: 992px) {
    div.effect {
        --team-font: 4.5em;
        --city-font: 1.75em;
    }

    div.effect .text-box {
        padding:40px;
    }

    div.effect .text-box img.logo {
        margin-bottom: 1.5em;
    }

    div.effect .audio-box button {
        width: 32px;
        height: 32px;
    }
}

@media (max-width: 768px) {
    div.effect {
        --team-font: 3.5em;
        --city-font: 1.25em;
    }

    div.effect .text-box {
        padding:30px;
    }

    div.effect .text-box img.logo {
         margin-bottom: 1em;
    }

    div.effect .audio-box button {
        width: 24px;
        height: 24px;
    }
}

@media (max-width: 576px) {
    div.effect {
        --team-font: 2.5em;
        --city-font: 1em;
    }

    div.effect .text-box {
        padding:20px;
    }

    div.effect .text-box img.logo {
         margin-bottom: 0.5em;
    }

    div.effect .audio-box button {
        width: 16px;
        height: 16px;
    }
}

