@{
    Layout = "_ViewLayout";

    ViewData["Title"] = "Video Zenit";
}

@section head {
    <link rel="stylesheet" href="~/css/common/general.css" />
    <link rel="stylesheet" href="~/css/effect/video-zenit.css" />
}

@section scripts {
    <script src="~/js/utils/util-dom.js"></script>
    <script src="~/js/utils/util-checker.js"></script>
}

@section viewmenu {
    <partial name="Forms/_VideoEffectMenu">
}


<div class="effect">

    <video autoplay muted loop crossorigin="anonymous"
           src="~/media/y2mate.com - «Мы Чемпионы!», «Зенит» – чемпион России по футболу в сезоне 20192020._1080pFHR.mp4">
    </video>

    <div class="shade"></div>

    <svg class="banner banner-view-animation" viewBox="0 0 300 100">
        <text x="50%" y="50%" text-anchor="middle">Зенит - чемпион!</text>
        <text x="50%" y="70%" text-anchor="middle">2020</text>
    </svg>

    <div class="audio-box">
        <div>
            <button id="play" class="off"></button>
            <audio id="player" loop src="~/media/y2mate.com - Ленинград - В Зените_fCPNqZu16uY.mp3"></audio>
        </div>
    </div>

</div>


<script type="text/javascript">

    function onReady() {

        const checker = new app.util.check.Checker();
        if (!checker.showNotSupportedProperties(["mixBlendMode"], "#templates #not-supported", "section.main")) return;

        const bannerAnimClass = "banner-view-animation";
        const bannerEndAnim = "anim-banner-hide";

        var effect = document.querySelector(".effect");
        var banner = document.querySelector(".banner");

        var btn = document.getElementById("play");
        var player = document.getElementById("player");

        var togglePlay = function (e) {
            player.paused ? player.play() : player.pause();

            btn.classList.remove("off");
            btn.classList.remove("on");

            player.paused ? btn.classList.add("off") : btn.classList.add("on");

            document.activeElement.blur();
        }

        btn.addEventListener("click", togglePlay)

        document.addEventListener("keyup", togglePlay)

        effect.addEventListener("mousemove", ev => {
            if (!banner.classList.contains(bannerAnimClass)) {
                banner.classList.add(bannerAnimClass);
            }
        });

        banner.addEventListener("animationend", ev => {
            if (ev.animationName != bannerEndAnim) return;
            banner.classList.remove(bannerAnimClass);
        });

    }

    document.addEventListener("DOMContentLoaded", onReady);


</script>


   var main = document.querySelector("section.main");
        var topnav = document.querySelector(".top-nav");

