
@{
    ViewData["Title"] = "Video Cube";

    Layout = "_ViewLayout";
}

@section head {
    <link rel="stylesheet" href="~/css/common/general.css" />
    <link rel="stylesheet" href="~/css/effect/video-cube.css" />
}

@section scripts {
    <script src="~/js/utils/util-dom.js"></script>
    <script src="~/js/utils/util-checker.js"></script>
}

@section viewmenu {
    <partial name="Forms/_VideoEffectMenu">
}

<div class="effect">

    <video autoplay muted loop src="~/media/y2mate.com - Transient - 4K, UHD, 1000FPS_nBYZpsbu9ds_1080p.mp4">
    </video>

    <div class="box">
        <div>
            <span>
                <video autoplay muted loop src="~/media/y2mate.com - Transient 2 - 4K, UHD, 1000FPS_tq1mxZZIuIY_1080p.mp4"></video>
            </span>
            <span>
                <video autoplay muted loop src="~/media/y2mate.com - Transient 2 - 4K, UHD, 1000FPS_tq1mxZZIuIY_1080p.mp4"></video>
            </span>
            <span>
                <video autoplay muted loop src="~/media/y2mate.com - Transient 2 - 4K, UHD, 1000FPS_tq1mxZZIuIY_1080p.mp4"></video>
            </span>
        </div>
    </div>

</div>

<section id="templates">

    <template id="not-supported">
        <partial name="forms/_NotSupported" />
    </template>

</section>

<script type="text/javascript">

    function onReady() {
        const checker = new app.util.check.Checker();
        if (!checker.showNotSupportedProperties(["mixBlendMode"], "#templates #not-supported", "div.effect")) return;
    }

    document.addEventListener("DOMContentLoaded", onReady);


</script>
