
@{
    Layout = "_ViewLayout";

    ViewData["Title"] = "Video Clipping";
}

@section head {
    <link rel="stylesheet" href="~/css/common/general.css" />
    <link rel="stylesheet" href="~/css/effect/video-clipped.css" />
}

@section scripts {
    <script src="~/js/utils/util-dom.js"></script>
    <script src="~/js/utils/util-checker.js"></script>
}

@section viewmenu {
    <partial name="Forms/_VideoEffectMenu">
}

<div class="effect">

    <video autoplay muted loop crossorigin="anonymous"
           src="~/img/pictures/y2mate.com - ФК Зенит _ FC Zenit_Z95FaXRhKik_1080p.mp4">
    </video>

    <div class="text-box">
        <img class="logo" src="~/img/FC_Zenit_1_star_2015_logo.svg" />
        <span class="name">FC Zenit</span>
        <span class="city">Saint Petersburg</span>
    </div>

    <div class="audio-box">
        <div>
            <button id="play" class="off"></button>
            <audio id="player" loop src="~/media/y2mate.com - Ленинград - В Зените_fCPNqZu16uY.mp3"></audio>
        </div>
    </div>

</div>

<section id="templates">

    <template id="not-supported">
        <partial name="forms/_NotSupported" />
    </template>

</section>

<script type="text/javascript">

    function onReady() {

        const checker = new app.util.check.Checker();
        if (!checker.showNotSupportedProperties(["mixBlendMode"], "#templates #not-supported", "section.main")) return;

        var btn = document.getElementById("play");
        var player = document.getElementById("player");

        var togglePlay = function (e) {
            player.paused ? player.play() : player.pause();

            btn.classList.remove("off");
            btn.classList.remove("on");

            player.paused ? btn.classList.add("off") : btn.classList.add("on");

            document.activeElement.blur();
        }

        btn.addEventListener("click", togglePlay)

        document.addEventListener("keyup", togglePlay)

    }

    document.addEventListener("DOMContentLoaded", onReady);


</script>

