
<li class="preset-item">
    <label>
        <input type="radio" name="background-option" value="image" />
        <img class="content" />
        <span class="tick-frame"></span>
        <span class="ctrl-frame">
            <button class="item-remove" title="Remove"></button>
        </span>
    </label>
</li>