

<ul class="background-list">
    <li class="bk-broadsheet">
        <label>
            <input type="radio" name="background-option" value="none" checked="checked" />
            <span class="content" data-name="No background"></span>
            <span class="tick-frame"></span>
        </label>
    </li>
    <li class="bk-broadsheet">
        <label>
            <input type="radio" name="background-option" value="image" />
            <img class="content" src="~/img/camera/bk-pic01.jpg" />
            <span class="tick-frame"></span>
        </label>
    </li>
    <li class="bk-broadsheet">
        <label>
            <input type="radio" name="background-option" value="image" />
            <img class="content" src="~/img/camera/bk-pic02.jpg" />
            <span class="tick-frame"></span>
        </label>
    </li>
    <li class="bk-broadsheet">
        <label>
            <input type="radio" name="background-option" value="image" />
            <img class="content" src="~/img/camera/bk-pic03.jpg" />
            <span class="tick-frame"></span>
        </label>
    </li>
    <li class="bk-broadsheet">
        <label>
            <input type="radio" name="background-option" value="image" />
            <img class="content" src="~/img/camera/bk-pic04.jpg" />
            <span class="tick-frame"></span>
        </label>
    </li>
    <li class="bk-broadsheet">
        <label>
            <input type="radio" name="background-option" value="image" />
            <img class="content" src="~/img/camera/bk-pic05.jpg" />
            <span class="tick-frame"></span>
        </label>
    </li>
    <li class="bk-broadsheet">
        <label>
            <input type="radio" name="background-option" value="image" />
            <img class="content" src="~/img/camera/bk-pic06.jpg" />
            <span class="tick-frame"></span>
        </label>
    </li>
    <li class="bk-broadsheet upload">
        <div class="content"></div>
    </li>
</ul>