

<ul class="view-menu">
    <li><a href="@Url.Action("CameraRecognition", "Media", new { id="" })" title="Object Detection">Camera & Coco SSD</a></li>
    <li><a href="@Url.Action("CameraBackground", "Media", new { id="" })" title="Person Detection">Camera, Pixi & Body Pix</a></li>
</ul>