
<ul class="preset-list filter-list">
    <li class="preset-item">
        <label>
            <input type="checkbox" name="filter-option" value="blur">
            <img class="content" src="~/img/camera/filter-blur.jpg" />
            <span class="preset-info">Blur</span>
            <span class="tick-frame"></span>
        </label>
    </li>
    <li class="preset-item">
        <label>
            <input type="checkbox" name="filter-option" value="kawaseblur">
            <img class="content" src="~/img/camera/filter-kawaseblur.jpeg" />
            <span class="preset-info">Kawase blur</span>
            <span class="tick-frame"></span>
        </label>
    </li>
    <li class="preset-item">
        <label>
            <input type="checkbox" name="filter-option" value="motionblur">
            <img class="content" src="~/img/camera/filter-motionblur.jpg" />
            <span class="preset-info">Motion blur</span>
            <span class="tick-frame"></span>
        </label>
    </li>
    <li class="preset-item">
        <label>
            <input type="checkbox" name="filter-option" value="liquid">
            <img class="content" src="~/img/camera/filter-displacement.jpg" />
            <span class="preset-info">Liquid</span>
            <span class="tick-frame"></span>
        </label>
    </li>
    <li class="preset-item">
        <label>
            <input type="checkbox" name="filter-option" value="shockwave">
            <img class="content" src="~/img/camera/filter-shockwave.jpeg" />
            <span class="preset-info">Shockwave</span>
            <span class="tick-frame"></span>
        </label>
    </li>
    <li class="preset-item">
        <label>
            <input type="checkbox" name="filter-option" value="fisheye">
            <img class="content" src="~/img/camera/filter-fisheye.jpeg" />
            <span class="preset-info">Fisheye</span>
            <span class="tick-frame"></span>
        </label>
    </li>
</ul>
