
<ul class="preset-list filter-list">
    <li class="preset-item">
        <label>
            <input type="checkbox" name="filter-option" value="blur">
            <img class="content" src="~/img/camera/filter-blur.jpg" />
            <span class="preset-info">Blur</span>
            <span class="tick-frame"></span>
        </label>
    </li>
    <li class="preset-item">
        <label>
            <input type="checkbox" name="filter-option" value="liquid">
            <img class="content" src="~/img/camera/filter-displacement.jpg" />
            <span class="preset-info">Liquid</span>
            <span class="tick-frame"></span>
        </label>
    </li>
</ul>