
    <div class="not-supported">

        <p>Your browser doen't support <b>'ImageCapture'</b> Javascript API object!</p>
        <p>Use the latest <a class="browser logo-chrome" target="_blank" href="https://www.google.com/chrome/">Google Chrome</a> or <a class="browser logo-brave" target="_blank" href="https://brave.com/">Brave</a>.</p>
        <p>You can also check compatibility of the feature <a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/API/ImageCapture#Browser_compatibility">here</a>.</p>

    </div>