
<li class="preset-item">
    <img class="content" />
    <span class="ctrl-frame">
        <button class="item-download" title="Download"></button>
        <button class="item-remove" title="Remove"></button>
    </span>
    <span class="preset-info"></span>
</li>
