
<ul class="preset-list snapshot-list">
    <li class="preset-item">
        <div class="content">
            <div class="snapshot">
                <button class="btn btn-light" title="Take a snapshot">
                    Snapshot
                </button>
            </div>
        </div>
    </li>
</ul>