
@{
    ViewData["Title"] = "Content slider";

    Layout = "_ViewLayout";
}

@section head {
    <link rel="stylesheet" href="~/css/slider/content-slider.css" />
}


<style type="text/css">

    :root {
        --wipe-time: 2s;
        --zoom-time: 2.5s;
    }

    .holder {
        height: 520px;
    }

    .wiper, .slide, .content, .surface {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .wiper .slide {
        z-index: 0;
        left: calc(var(--i) * 100%);
        background-repeat: no-repeat;
        background-size: cover;
        transition: left ease-out var(--wipe-time);
    }

    .wiper .slide .content {
        transition: transform ease-out var(--zoom-time) var(--wipe-time);
    }

    img.surface, video.surface {
        object-fit: cover;
    }

</style>

<div class="holder">

    <div class="wiper">
        <div class="slide" style="--i:0">
            <div class="content">
                <img class="surface" src="~/img/posters/slide-01.jpg" />
            </div>
        </div>
        <div class="slide" style="--i:1">
            <div class="content">
                <img class="surface" src="~/img/posters/slide-02.jpg" />
            </div>
        </div>
        <div class="slide" style="--i:2">
            <div class="content">
                <img class="surface" src="~/img/posters/slide-03.jpg" />
            </div>
        </div>
        <div class="slide" style="--i:3">
            <div class="content">
                <img class="surface" src="~/img/posters/slide-04.jpg" />
            </div>
        </div>
        <div class="slide" style="--i:4">
            <div class="content ">
                <img class="surface" src="~/img/posters/slide-05.jpg" />
            </div>
        </div>
        <div class="slide" style="--i:5">
            <div class="content">
                <img class="surface" src="~/img/posters/slide-06.jpg" />
            </div>
        </div>
        <div class="slide" style="--i:6">
            <div class="content">
                <video class="surface" src="~/img/posters/video-01.mp4" typeof="video/mp4" muted autoplay loop ></video>
            </div>
        </div>
        <div class="slide" style="--i:7">
            <div class="content">
                <video class="surface" src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/TearsOfSteel.mp4" typeof="video/mp4" muted autoplay loop></video>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">

    function onReady() {
        const timeout = 5000;
        const scaleFunc = "scale(1.15)";
        const slides = document.querySelectorAll(".wiper .slide");

        setTimeout(() => {
            slides[0].children[0].style.transform = scaleFunc;
        });

        setInterval(() => {

            for (let p = 0; p < slides.length; p++) {p
                let pos = slides[p].style.getPropertyValue("--i") - 1;

                slides[p].style.visibility = pos < -1 ? "hidden" : "initial";
                if (pos < -1) pos = slides.length - 2;

                slides[p].style.setProperty("--i", pos);
                slides[p].children[0].style.transform = pos == 0 ? scaleFunc : "initial";

            }

        }, timeout);

    }

    document.addEventListener("DOMContentLoaded", onReady);

</script>


