
@{
    ViewData["Title"] = "Liquid slider";

    Layout = "_ViewLayout";
}

@section head {
    <link rel="stylesheet" href="~/css/slider/liquid-slider.css" />
}

@section scripts {
    <script src="~/js/slider/liquid-slider.js"></script>
}

<div class="holder">

</div>

<script type="text/javascript">

    function onReady() {

    }

    document.addEventListener("DOMContentLoaded", onReady);

</script>
