
@{
    ViewData["Title"] = "Liquid slider";

    Layout = "_ViewLayout";
}

@section head {
    <link rel="stylesheet" href="~/css/slider/liquid-slider.css" />
}

@section scripts {

    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/5.2.4/pixi.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>

    <script src="~/js/utils/util-data.js"></script>
    <script src="~/js/slider/liquid-slider.js"></script>
    <script src="~/js/slider/liquid-methods.js"></script>

}

@section viewmenu {
    <partial name="Forms/_SlidersMenu">
}


<style type="text/css">

    :root {
        --wipe-time: 2s;
        --zoom-time: 2.5s;
    }

    .wiper, .slide, .content, .surface {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

        .wiper .slide {
            z-index: 0;
            left: calc(var(--i) * 100%);
            background-repeat: no-repeat;
            background-size: cover;
            transition: left ease-out var(--wipe-time);
            display: none;
        }

        .wiper canvas {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            border: 0;
        }

        .wiper .slide .content {
            transition: transform ease-out var(--zoom-time) var(--wipe-time);
        }

    img.surface, video.surface {
        object-fit: cover;
    }
</style>

<div class="holder">

    <div id="liquid-slider" class="wiper">
        <div class="slide" style="--i:0">
            <div class="content">
                <img class="surface" src="~/img/liquids/13.jpg" />
            </div>
        </div>
        <div class="slide" style="--i:1">
            <div class="content">
                <img class="surface" src="~/img/liquids/2.jpg" />
            </div>
        </div>
        <div class="slide" style="--i:2">
            <div class="content">
                <img class="surface" src="~/img/liquids/15.jpg" />
            </div>
        </div>
        <div class="slide" style="--i:3" data-slide-options-key="calm-ripples">
            <div class="content">
                <img class="surface" src="~/img/liquids/1.jpg" />
            </div>
        </div>
        <div class="slide" style="--i:4" data-slide-options-key="calm-ripples">
            <div class="content">
                <img class="surface" src="~/img/liquids/16.jpg" />
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">

    function onReady() {

        const lqslider =
            new app.slider.LiquidSlider(document.getElementById("liquid-slider"),
                {
                    displacementImage: "@Url.Content("~/img/liquids/dmaps/2048x2048/clouds.jpg")",
                    autoPlay: true,
                    centerSprites: false,
                    interactive: true,
                    wacky: false,
                    autoPlaySpeed: [4, 3],
                    displaceScale: [5000, 10000],
                    slideOptions: {
                        "calm-ripples": {
                            displaceScale: [200, 70],
                            transitionMethod: app.slider.customization.calmRippleTransition,
                        },
                        "grease-film": {
                            autoPlaySpeed: [0.3, 0.3],
                            displaceScale: [800, 500],
                            transitionMethod: app.slider.customization.greaseFilmTransition,
                        }
                    }
                });
    }

    document.addEventListener("DOMContentLoaded", onReady);

</script>
