
<div class="audio-player-container">
  <audio src=”” preload="metadata" loop></audio>
  <span id="current-time" class="time">0:00</span>
  <input type="range" id="seek-slider" max="100" value="0">
  <span id="duration" class="time">0:00</span>
  <button id="mute" class="on"></button>
</div>
