

<ul class="loading">
    <li style="--i:0">L</li>
    <li style="--i:1">o</li>
    <li style="--i:2">a</li>
    <li style="--i:3">d</li>
    <li style="--i:4">i</li>
    <li style="--i:5">n</li>
    <li style="--i:6">g</li>
</ul>