
@{
    Layout = "_ViewLayout";

    ViewData["Title"] = "Music Probe";
}

@section head {
    <link rel="stylesheet" href="~/css/common/general.css" />
    <link rel="stylesheet" href="~/css/common/loading.css" />
    <link rel="stylesheet" href="~/css/media/media.css" />
    <link rel="stylesheet" href="~/css/media/presets.css" />
    <link rel="stylesheet" href="~/css/three/music-probe.css" />
    <link rel="stylesheet" href="~/css/three/audioplayer.css" />
}

@section scripts {
    <script src="https://unpkg.com/feather-icons"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js" integrity="sha512-dLxUelApnYxpLt6K2iomGngnHO83iUvZytA3YjDUCjT0HDOHKXnVYdf3hU4JjM8uEhxf9nD1/ey98U3t2vZ0qQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/three@0.85.0/examples/js/controls/OrbitControls.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.7.7/dat.gui.min.js" integrity="sha512-LF8ZB1iTwi4Qvkm4pekHG4a437Y9Af5ZuwbnW4GTbAWQeR2E4KW8WF+xH8b9psevV7wIlDMx1MH9YfPqgKhA/Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/simplex-noise/2.4.0/simplex-noise.js"></script>

    <script src="~/js/media/camcorder.js"></script>
    <script src="~/js/three/music-visualizer.js"></script>

}


@section viewmenu {

}


<div class="container">

    <section id="scene-party">

        <div id="player" class="video-player">

            <div class="startup-text">&#9733; it shows scene here &#9733;</div>

            <canvas id="capture"></canvas>
            <canvas id="overlay"></canvas>

            <div class="controls">
                <div class="options">
                    <div class="video-ratio">
                        <select name="" id="" class="custom-select" title="Select screen ratio">
                            <option value="">Select ratio</option>
                        </select>
                    </div>
                    <div class="music-file">
                        <button type="button" class="btn btn-light" title="Select audio file"
                                onclick="javascript: this.parentNode.querySelector('input[type=file]').click()">
                                Select music</button>
                        <span class="file-item d-none">
                            <partial name="Forms/_audioplayer"></partial>
                            <button class="inline-btn item-remove" title="Remove"></button>
                        </span>
                        <input type="file" accept="audio/*" class="d-none" />
                    </div>
                </div>
                <div class="buttons">
                    <button class="btn btn-danger play" title="Play"><i data-feather="play-circle"></i></button>
                    <button class="btn btn-info pause d-none" title="Pause"><i data-feather="pause"></i></button>
                    <button class="btn btn-outline-success d-none" title="Screenshot"><i data-feather="image"></i></button>
                    <button class="btn btn-outline-warning d-none" title="Recognize"><i data-feather="activity"></i></button>
                </div>
            </div>

        </div>
        
    </section>

</div>


<script type="text/javascript">

    document.addEventListener("DOMContentLoaded", async () => {

        feather.replace();

         var visualizer = new app.media.MusicVisualizer(document.getElementById("scene-party"),
            {
            });

         //visualizer.displayProbe();

    });

</script>