<ul class="view-menu">
    <li><a href="@Url.Action("ContentSlider", "Slider", new { id="" })">Content slider</a></li>
    <li><a href="@Url.Action("LiquidSlider", "Slider", new { id="" })">Liquid slider</a></li>
</ul>