
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
}

section.main {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
 }

nav {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    text-align: center;
}

nav ul li a {
   color: #333;
   text-decoration: none;
   font-size: 3em;
   padding: 5px 20px;
   display: inline-flex;
   font-weight: 700;
   transition: 0.5s;
   white-space: nowrap;
}

nav ul:hover li a {
    color: #8882;
}

nav ul li:hover a {
    color: #888;
    background-color: #fff;
    border-radius: 10pt 10pt;
}

nav ul li:hover a:hover {
    text-decoration: none;
}


@supports (-webkit-text-stroke: 1px #333) {
    nav ul li a {
    -webkit-text-stroke: 1px #333;
    -webkit-text-fill-color: #fefefe;
    }

nav ul:hover li a {
    -webkit-text-stroke: 1px #eee;
    -webkit-text-fill-color: rgba(255, 255, 255, 0.2);
    }

nav ul li:hover a {
    -webkit-text-stroke: 1px #333;
    -webkit-text-fill-color: #fefefe;
    }

nav ul li a:hover {
    -webkit-text-stroke: 1px #888;
    -webkit-text-fill-color: #888;
    }

nav ul li a:before {
    -webkit-text-stroke: 1px rgba(128, 128, 128, 0.1);
    -webkit-text-fill-color: rgba(0, 0, 0, 0.1);
    }
}

nav ul li a:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 40%;
    display: flex;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    font-size: 5em;
    color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    z-index: -1;
    opacity: 0;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 500px;
    transition: letter-spacing 0.5s, left 0.5s;
}

nav ul li a:hover:before {
    content: attr(data-text);
    left: 50%;
    opacity: 1;
    letter-spacing: 10px;
    width: 200vw;
    height: 200vh;
}

nav ul li a:before {
    background-color: var(--bkc);
}



@media (max-width: 1200px) {

    nav ul li a {
        font-size: 2.8em;
    }

    nav ul li a:before {
        font-size: 4.5em;
    }
}

@media (max-width: 992px) {
    nav ul li a {
        font-size: 2.5em;
    }

    nav ul li a:before {
        font-size: 4.2em;
    }
}

@media (max-width: 768px) {
    nav ul li a {
        font-size: 2.2em;
    }

    nav ul li a:before {
        font-size: 4em;
    }
}

@media (max-width: 576px) {
    nav ul li a {
        font-size: 2em;
    }

    nav ul li a:before {
        font-size: 3.8em;
    }
}

