
@{
    ViewData["Title"] = "Start";
    Layout = "_MasterLayout";
}

@section head {
    <link rel="stylesheet" href="~/css/menu/start-menu.css" />
}

<nav class="navigation">
    <ul>
        @*<li><a href="#" data-text="Home" style="--bkc:#81ecec">Home</a></li>*@
        <li><a href="#" data-text="Camera: recognition" style="--bkc:#55efc4">Camera: recognition</a></li>
        <li><a href="@Url.Action("VideoCube", "Effect", new { id="" })" data-text="Video Effects" style="--bkc:#a29bfe">Video Effects</a></li>
        <li><a href="@Url.Action("ContentSlider", "Slider", new { id="" })" data-text="Content slider" style="--bkc:#ff7675">Content slider</a></li>
        @*<li><a href="#" data-text="About"style="--bkc:#fd79a8">About</a></li>*@
    </ul>
</nav>

@*embed a credit badge.*@
@*Photo by Gem Lyn on Unsplash*@
